@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

.portfolio-body {
  background: rgb(120 162 247);
  width: 100%;
}
.portfolio-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  height: 100vh;
}
.project-comment {
  width: 300px;
}

.image-proyect {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 10px;
  display: block;
  /* box-shadow: 0 0 5px 0 #ccc; */
}
.project7 {
  width: 300px;
  margin: 10px;
}

img:hover {
  box-shadow: none;
  opacity: 50%;
}
.message {
  background-color: #000;
  color: #fff;
  left: 489px;
  position: absolute;
  top: 506px;
  width: 300px;
}
.process {
  font-family: "Monoton", cursive;
  font-size: 40px;
}
.project-name {
  background: rgb(120 162 247);
}
@media (min-width: 7689px), (max-width: 1024px) {
  .message {
    background-color: #000;
    color: #fff;
    left: 79px;
    position: absolute;
    top: 1000px;
    width: 300px;
    z-index: 1;
  }
  .portfolio-container {
    background: rgb(120 162 247);
    width: 100%;
    display: flex;
    height: auto;
  }
}

@media (max-width: 767px) {
  .portfolio-container {
    background: rgb(120 162 247);
    width: 100%;
    height: 100%;
    display: flex;
  }
  /* .message {
    position: absolute;
    top: 1000px;
    left: 7px;
    z-index: 1;
    color: #fff;
    background-color: black;
    width: 300px;
  } */
  /* .message {
    background-color: #000;
    color: #fff;
    left: 42px;
    position: absolute;
    top: 978px;
    width: 250px;
    z-index: 1;
  } */
  .image-proyect {
    box-shadow: 0 1px 3px 0 rgba(9, 8, 8, 0.5);
    border-radius: 5px;
    margin: 10px;
    display: block;
    width: 300px;
    /* box-shadow: 0 0 5px 0 #ccc; */
  }
}
@media (max-width: 1250px) {
  .portfolio-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    height: auto;
  }
}
