@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

.portfolio-body {
  background: rgb(120 162 247);
}
.portfolio-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  height: 100vh;
}

.image-proyect {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 10px;
  display: block;
  /* box-shadow: 0 0 5px 0 #ccc; */
}

img:hover {
  box-shadow: none;
  opacity: 50%;
}
.message {
  background-color: #000;
  color: #fff;
  left: 489px;
  position: absolute;
  top: 506px;
  width: 300px;
}
.process {
  font-family: "Monoton", cursive;
  font-size: 40px;
}
.project-name {
  background: rgb(120 162 247);
}
@media (min-width: 856px), (max-width: 1280px) {
  .message {
    background-color: #000;
    color: #fff;
    left: 62px;
    position: absolute;
    top: 572px;
    width: 300px;
    z-index: 1;
  }
}

@media (max-width: 855px) {
  .portfolio-container {
    background: rgb(120 162 247);
    width: 100%;
    height: 100%;
    display: flex;
  }
  .message {
    position: absolute;
    top: 999px;
    left: 65px;
    z-index: 1;
    color: #fff;
    background-color: black;
    width: 300px;
  }
}
@media (min-width: 1281px) {
  .message {
    background-color: #000;
    color: #fff;
    left: 480px;
    position: absolute;
    top: 339px;
    width: 300px;
    z-index: 1;
  }
}
