@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");

.portfolio-body {
  width: 100%;
  background-color: #f9f9f9;
  background-image: radial-gradient(
      circle at 20px 20px,
      #ff0000 10%,
      transparent 10%
    ),
    radial-gradient(circle at 60px 60px, #0000ff 10%, transparent 10%),
    radial-gradient(circle at 100px 100px, #ffff00 10%, transparent 10%);
  background-position: 20px 20px, 60px 60px, 100px 100px;
  background-size: 40px 40px, 40px 40px, 40px 40px;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vw;
  width: 100%;
}
.cell {
  border: 5px solid black;
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}

.cell:nth-child(1) {
  background-color: red;
}

.cell:nth-child(2) {
  background-color: blue;
}

.cell:nth-child(3) {
  background-color: yellow;
}

.cell:nth-child(4) {
  background-color: white;
}

.cell:nth-child(5) {
  background-color: red;
}

.cell:nth-child(6) {
  background-color: white;
}

.cell:nth-child(7) {
  background-color: blue;
}

.cell:nth-child(8) {
  background-color: white;
}

.cell:nth-child(9) {
  background-color: yellow;
}
.portfolio-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  height: auto;
}
.project-comment {
  width: 400px;
  height: 200px;
  background-color: white;
}
.work-title {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 44px;
}
.pharagraph-1 {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 24px;
}

.image-proyect {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  /* margin: 10px; */
  display: block;
  /* box-shadow: 0 0 5px 0 #ccc; */
}
.project7 {
  width: 300px;
  margin: 10px;
}

img:hover {
  box-shadow: none;
  opacity: 50%;
}
.message {
  background-color: #000;
  color: #fff;
  left: 489px;
  position: absolute;
  top: 506px;
  width: 300px;
}
.process {
  font-family: "Monoton", cursive;
  font-size: 40px;
}
.project-name {
  background: rgb(120 162 247);
}
.part-1 {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}
.code {
  width: 120px;
  display: flex;
  background-color: red;
  border-width: 2px;
  border: solid 2px;
  color: aliceblue;
}
@media (min-width: 7689px), (max-width: 1024px) {
  .message {
    background-color: #000;
    color: #fff;
    left: 79px;
    position: absolute;
    top: 1000px;
    width: 300px;
    z-index: 1;
  }
  .portfolio-container {
    width: 100%;
    display: flex;
    height: auto;
  }
}

@media (max-width: 767px) {
  .project-comment {
    width: 350px;
    height: 200px;
    background-color: white;
  }

  .image-proyect {
    box-shadow: 0 1px 3px 0 rgba(9, 8, 8, 0.5);
    border-radius: 5px;
    /* margin: 10px; */
    display: block;
    width: 350px;
    /* box-shadow: 0 0 5px 0 #ccc; */
  }
  /* .project-comment {
    display: flex;
    z-index: 2;
    position: absolute;
    left: 26%;
    transform: translate(-20%, 95%);
    text-align: center;
  } */
}
@media (max-width: 1275px) {
  .portfolio-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    height: auto;
  }
}
